<!DOCTYPE html>

<html>
  <head>
    <title>AngularJs Data Binding to Controls in Form</title>

    <script src="http://ajax.googleapis.com/ajax/libs/
angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript">
      var app = angular.module("formApp", []);

      app.controller("formCtrl", function ($scope) {
        $scope.fname = "Welcome to ";

        $scope.lname = "Angular Js";

        $scope.gender = " Your gender";

        $scope.getvalues = function () {
          $scope.name = $scope.fname + " " + $scope.lname;
        };
      });
    </script>
  </head>

  <body ng>
    <div ng-app="formApp" ng-controller="formCtrl">
      <form novalidate>
        First Name:<input type="text" ng-model="fname" /><br /><br />

        Last Name:<input type="text" ng-model="lname" /><br /><br />

        Gender:<input type="radio" ng-model="gender" /><br /><br />
        

        <input
          type="button"
          value="Get
Values"
          ng-click="getvalues()"
        />

        <p>Full Name: {{name}}</p>
      </form>
    </div>
  </body>
</html>
