<!DOCTYPE html>
<html ng-app="studentApp">
  <head>
    <script src="~/Scripts/angular.js"></script>
  </head>
  <body ng-controller="EventController">
    <h1>Student Information for College Event:</h1>

    <form ng-submit="submitStudnetForm()">
      <label for="firstName">First Name: </label><br />
      <input type="text" id="firstName" ng-model="student.firstName" /> <br />
      <label for="lastName">Last Name</label><br />
      <input type="text" id="lastName" ng-model="student.lastName" /> <br />
      <label for="dob">DoB</label><br />
      <input type="date" id="dob" ng-model="student.DoB" /> <br /><br />
      <span>Gender</span> <br />
      <label>
        <input
          value="male"
          type="radio"
          name="male"
          ng-model="student.gender"
        />male
      </label>
      <label>
        <input
          value="female"
          type="radio"
          name="female"
          ng-model="student.gender"
        />male
      </label>
      <br />
      <br />

      <br /><br />
      <span>Subjects</span><br />
      <label><input type="checkbox" ng-model="student.maths" />Maths</label>
      <br />
      <label><input type="checkbox" ng-model="student.physics" />Physics</label>
      <br />
      <label
        ><input type="checkbox" ng-model="student.chemistry" />Chemistry</label
      ><br /><br />
      <input type="submit" value="Submit" />
      <input type="reset" ng-click="resetForm()" value="Reset" />
    </form>
    <script>
      var studentApp = angular.module("studentApp", []);

      studentApp.controller("EventController", function ($scope, $http) {
        $scope.originalStudent = {
          firstName: "James",
          lastName: "Bond",
          DoB: new Date("01/31/1980"),
          gender: "male",
        };

        $scope.student = angular.copy($scope.originalStudent);

        $scope.submitStudnetForm = function () {
          var onSuccess = function (data, status, headers, config) {
            alert("Student saved successfully.");
          };
          var onError = function (data, status, headers, config) {
            alert("Error occured.");
          };
          $http
            .post("/student/submitData", { student: $scope.student })
            .success(onSuccess)
            .error(onError);
        };

        click.$scope.resetForm = function () {
          $scope.student = angular.copy($scope.OriginalStudent);
        };
      });
    </script>
  </body>
</html>
